/* CSS for sponsors page. */
.col-sm-3 img {
	display: inline-block;
	float: left;
    width: 250px;
    height: 200px;
    margin: auto;
}

.col-sm-4 img {
	display: inline-block;
	float: left;
    width: 330px;
    height: 170px;
}

.container-fluid {
    margin-top: 50px;
}

.t_s img {
    width: 400px;
    height: 230px;
}

@media only screen and (max-width: 1100px) {
    .col-sm-3 img {
        width: 150px;
        height: 100px;
    }
    .col-sm-4 img {
        width: 180px;
        height: 90px;
    }
    .t_s img {
        width: 180px;
        height: 90px;
    }
}



@media only screen and (max-width: 320px) {
    .col-sm-3 img {
        width: 100px;
        height: 70px;
    }
    .col-sm-4 img {
        width: 100px;
        height: 70px;
    }
    .t_s img {
        width: 180px;
        height: 70px;
    }
}